*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    height: 100%;
    background-color: #333333;
}

main{
    width: 100%;
    height: 100%;
}

footer{
    clear: both;
    height: 25vh;
}


label{
    font-size: 1.5vw;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

#ojo{
    cursor: pointer;
}

#ojo2{
    cursor: pointer;
}

button{
    margin-top: 2vh;
}

.borderInc{
    border-color: red;
}

